<div class="navbar-fixed">
  <nav class="indigo darken-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/#"
        class="brand-logo header-style truncate hide-on-small-only">METROFUTURE IN ACTION</a>
      <a id="logo-container" href="/#" class="hide-on-med-and-up small">METROFUTURE IN ACTION</a>
      <ul class="right hide-on-med-and-down">
        <li class="chosen-list-item">

          <form action="#">
            <select class="chosen-select" id="desktop-menu">
              <option value="">View all projects</option>
              <% _.each(data, function(option) { %>
              <% if(option.type == "municipality" && option.attributes.projects.length > 0) { %>
              <option value="municipalities/<%= option.attributes.geojson.id %>"><%= option.attributes.name %></option>
              <% } else if(option.type == "subregion"){ %>
              <option value="subregions/<%= option.id %>"><%= option.attributes.name %></option>
              <% } %>
              <% }); %>
            </select>
          </form>

        </li>
        <li>
          <a class="white-text" id="toggleAbout">
            <i class="mdi-action-info-outline"></i>
          </a>
        </li>
      </ul>
      <ul id="nav-mobile" class="side-nav blue lighten-4">
        <li>
          <form action="#">
            <select class="chosen-select black-text" data-placeholder="Select a geography" id="mobile-menu">
              <option value="">All Projects</option>
              <% _.each(data, function(option) { %>
              <option value="subregions/<%= option.id %>"><%= option.attributes.name %></option>
              <% }); %>
            </select>
          </form>
        </li>
        <li>
          <a id="toggleAbout">
            <span class="black-text"><i class="mdi-action-info-outline left"></i> Toggle About</span>
          </a>
        </li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
</div>

<div id="about-modal" class="modal modal-fixed-footer">
  <div class="modal-content">

    <h5>About "MetroFuture in Action"</h5>
    <p>
      This site highlights the work of the Metropolitan Area Planning Council (MAPC), the regional planning agency for
      the 101 cities and towns of Greater Boston. Our long-term regional plan, MetroFuture, guides our work, and the
      projects shown here demonstrate how we implement MetroFuture on the ground.
    </p>
    <p>
      You can use the map on the main page or the pull-down in the header bar to filter projects by municipality (that
      is, city or town), and by subregion (the "chapters" or groups of municipalities that comprise MAPC). Select a
      single project to view more details about that project.
    </p>
    <br />

    <h5>More About MAPC</h5>
    <p>
      The <a href="http://mapc.org" target="_blank">Metropolitan Area Planning Council</a> (MAPC) is the regional
      planning agency for the 101 cities and towns of Greater Boston. We work to improve Metro Boston’s livability – its
      prosperity, safety, health, climate resilience, equity, and distinctive character.
    </p>
    <p>
      We provide superb, easy-to-access planning services; we offer programs to save taxpayer money through group
      purchasing; and we serve as a regional "think tank", generating actionable data and analysis, advocating for
      regional priorities, and promoting best practices and collaboration.
    </p>
    <p>
      <a href="mailto:inquiries@mapc.org">
        Contact us
      </a>
      to learn how MAPC can help your community.
    </p>
    <br />

    <h5>More About MetroFuture</h5>
    <p>
      MetroFuture is MAPC's 30-year plan for the Greater Boston region. The plan guides all of MAPC's work.
    </p>
    <p>
      The MetroFuture plan supports smart growth and regional collaboration through the promotion of:
      <ul>
        <li>&bull; efficient transportation systems</li>
        <li>&bull; conservation of land and natural resources</li>
        <li>&bull; improvement of the health and education of residents</li>
        <li>&bull; an increase in equitable economic development opportunities for prosperity</li>
      </ul>
    </p>
    <p>
      Learn more about MetroFuture at <a href="http://metrofuture.org" target="_blank">metrofuture.org</a>.
    </p>
    <br /><br /><br /><br />

  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-orange btn-flat">Close</a>
  </div>
</div>
