<div id="projects-grid" class="row">
  <% if(data.attributes.projects.length >= 1) { %>
  <div class="section container">

    <h4><%= data.attributes.name %></h4>
    <div class="geography__nav">
      <a href="#Single Municipality" class="geography__nav-link">Single Municipality</a>
      <a href="#Multiple Municipalities" class="geography__nav-link">Multiple Municipalities</a>
      <a href="#MAPC Region-Wide" class="geography__nav-link">MAPC Region-Wide</a>
      <a href="#State Wide" class="geography__nav-link">State Wide</a>
    </div>
    <i name="top"><% $('#about-section').hide() %></i>
    <br />
    <div id="projects-grid" class="row single-municipality">
      <p><a href="#top"><strong>top^ </strong></a>
      </p>
      <h5>"Single Municipality" projects associated with <%= data.attributes.name %>
      </h5>
      <% _.each( data.attributes.projects, function ( project ) {  %>
      <% if(project.project_geography === "single municipality") { %>
      <div><%= projectCardTemplate(project) %></div>
      <% } %>
      <% }) %>
    </div>
    <a name="Multiple Municipalities"></a>
    <br />
    <br />
    <div id="projects-grid" class="row">
      <p><a href="#top"><strong>top^ </strong></a>
      </p>
      <h5>"Multiple Municipalities" projects associated with
        <%= data.attributes.name %></h5>
      <% _.each( data.attributes.projects, function ( project ) {  %>
      <% if(project.project_geography === "multiple municipalities") { %>
      <div><%= projectCardTemplate(project) %></div>
      <% } %>
      <% }) %>
    </div>
    <a name="MAPC Region-Wide"></a>
    <br />
    <br />
    <div id="projects-grid" class="row">
      <p><a href="#top"><strong>top^ </strong></a>
      </p>
      <h5>"MAPC Region-Wide" projects associated with <%= data.attributes.name %></h5>
      <% _.each( data.attributes.projects, function ( project ) {  %>
      <% if(project.project_geography === "mapc region-wide") { %>
      <div><%= projectCardTemplate(project) %></div> <% } %> <% }) %>
    </div>
    <a name="State Wide"></a>
    <br />
    <br />
    <div id="projects-grid" class="row state-wide">
      <p><a href="#top"><strong>top^ </strong></a>
      </p>
      <h5>"State Wide" projects associated with <%= data.attributes.name %></h5>
      <% _.each( data.attributes.projects, function ( project ) {  %>
      <% if(project.project_geography === "state-wide") { %>
      <div><%= projectCardTemplate(project) %></div>
      <% } %>
      <% }) %>
    </div>
  </div>
  <% } else { %>
  <h5>No projects for <%= data.attributes.name %>.</h5> <br />
  <% }; %>
</div>
