<div class="section container">
  <div class="row">
    <h2><%= data.attributes.name %></h2>
  </div>
  <div id="projects-grid" class="row">
    <h5>Single Municipality</h5> <br />
    <% _.each( getGroupedModels()['Single Municipality'], function ( project ) {  %>
      <%= projectCardTemplate(project) %>
    <%  }); %>
  </div>
  <div id="projects-grid" class="row">
    <h5>Multiple Municipalities</h5> <br />
    <% _.each( getGroupedModels()['Multiple Municipalities'], function ( project ) {  %>
      <%= projectCardTemplate(project) %>
    <%  }); %>
  </div>   
  <div id="projects-grid" class="row">
    <h5>MAPC Region-Wide</h5> <br />
    <% _.each( getGroupedModels()['MAPC Region-Wide'], function ( project ) {  %>
      <%= projectCardTemplate(project) %>
    <%  }); %>
  </div>
  <div id="projects-grid" class="row">
    <h5>State-Wide</h5> <br />
    <% _.each( getGroupedModels()['State-Wide'], function ( project ) {  %>
      <%= projectCardTemplate(project) %>
    <%  }); %>
  </div>
</div>