<div class="col s12 m6 l4">
  <div class="card small">
    <% if (attributes.image) { %>
      <div class="card-image waves-effect waves-block waves-light">
        <a href="#projects/<%= id %>"><img src="<%= MfiaClient.API + attributes.image %>"></a>
      </div>
    <% } else { %>
      <div class="card-image waves-effect waves-block waves-light">
        <a href="#projects/<%= id %>"><img src="http://mfia.prep.mapc.org/images/img-EMpChg_Map.png?style=small"></a>
      </div>
    <% } %>
    <div class="card-content">
        <span class="activator card-title grey-text text-darken-4"><%= attributes.title %></span>
    </div>
    <div class="card-action white">
      <span class="small left"><i class="iconography <%= this.slugify(attributes.status) %>"></i> <%= attributes.status %></span><span class="small right"><%= attributes.primary_department %><i class="material-icons toggle right activator">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="activator card-title grey-text text-darken-4"><%= attributes.title %> <span class="right"><i class="material-icons toggle activator">close</i></span></span>
      <a href="/#/projects/<%= id %>">View This Project</a>
      <p><%= attributes.description %></p>
    </div>
  </div>
</div> 