<% if (obj.status) { %>
<div class="col s12 m6 l4">
  <div class="card small">
    <div class="card-content">
      <span class="activator card-title black-text text-darken-5 ellipsis-truncation"><%= obj.title %></span>
      <div
        class="card-action primary-department-<%= obj.status == 'Completed' ? 'completed' : obj.primary_department_css_class %>">
        <!-- this.slugify(obj.status)  -->
        <span class="small left"><%= obj.status %></span>
        <span class="small right"><i class="material-icons toggle right activator">more_vert</i></span>
        <span class="small right"><%= obj.primary_department %></span>
        </span>
      </div>
      <div class="card-reveal">
        <span class="activator card-title black-text text-darken-5">
          <i class="material-icons toggle activator">close</i> <%= obj.title %></span>
        <span class="right">
          <!-- <a href="/#/projects/<%= id %>">View This Project</a> -->
          <p style="font-size: 12px"><%= obj.description %></p>
      </div>
    </div>
  </div>
</div>
<% } %>
